.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}
html{
    background-color: lightgrey;
}
#Topheader{
    display: block;
    width: 100vw;
    height: 50px;
    background-color: #ffffff;
}
#footer{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    z-index: 8;
    border-top: 10px solid teal;
    background-color: grey;
}
body{
    
    margin: 0 auto;
}
#AboutMe{
    display: block;
    width: 960px;
    height: 600px;
    margin: 30px auto;
    background-color:#ffffff;
}
#Portfolio{
    display: block;
    width: 960px;
    margin: 30px auto;
    background-color:#ffffff;
}
img{
    position: relative;
    float: left;
    /*top: 10px;*/
    left: 15px;
    z-index: 2;
    margin-right: 25px;
}
#bio{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#Name{
    position: fixed;
    width:125px;
    height: 20px;
    padding: 10px;
    top: 10px;
    margin: 0 auto;
    font-size: 24px;
    background-color:#4aaaa5;
    color: white;
    text-align: center;  
}
#AMTitle{
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 36px;
}
#Portfoliotitle{
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 36px;
}
#AMSeperator{
    border: 2px solid grey;
    width: 900px;
    margin: 0 auto;
}